.top-panel {
  max-height: 25vh;
  .row { margin-bottom: 0; }
}

.middle-panel {
  max-height: 25vh;
  .eat-btn {
    border-radius: 50%;
    position: relative;
    min-height: 25vh;
    min-width: 25vh;
    max-height: 25vh;
    max-width: 25vh;
    .fa {
      position: absolute;
      left: 0;
      right: 0;
      vertical-align: middle;
      font-size: 10vh;
      line-height: 25vh;
    }
  }
}

.bottom-panel {
  max-height: 50vh;
  .row { margin-bottom: 0; }
}

.title { font-size: 1.2em; }

.value { font-size: 5em; }