.nav-wrapper {
  .fa.fa-cutlery {
    float: none;
  }
  .fa-sign-out {
    font-size: 2em;
    line-height: 2em;
  }
}

nav.groceries { @extend .green; }
nav.restaurants { @extend .light-blue; }
nav { transition: all 0.5s, ease; }